@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}


<h4 class="table-info">Yeni Yetenek Ekleme Sayfası</h4>
<br />
<br />

<form class=" form-group  " method="post">
    <br />
    @Html.Label("Yetenek Başlığı")
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>


</form>