@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.skillid)
    <br />
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x=>x.title,new{@class="form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x=>x.Description,10,3,new{@class="form-control"})
    <br />
    <button class="btn btn-gradient-success btn-rounded btn-fw">Güncelle</button>
}

